body{
    background-color: rgb(230, 219, 219);
}



.titleT{
    font-size: 50px;
    color: rgb(15, 15, 15);
    margin-bottom: 40px;

}
.titleP{
    color: rgb(107, 105, 105);
    font-size: 20px;

}
.title{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 150px;
}
.label1{
    font-size: 18px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
   font-family: Cambria, Cochin, Georgia;
}
.label-card{
    width: 90px;
    height: 40px;
    background-color: rgb(14, 14, 14);
    border-radius: 10px 1px 10px 1px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 20px;

}
.label2{    font-size: 18px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
   font-family: Cambria, Cochin, Georgia;}

.label-card2{  
    width: 150px;
    height: 40px;
    background-color: rgb(234, 114, 34);
    border-radius: 10px 1px 10px 1px;
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    margin-top: -41px;}
.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img{
    width: 400px;
    border-radius: 70px 20px 70px 20px ;
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: -420px;
    display: flex;
    flex-direction: column;
}
.label-img{
width: 290px;
position: absolute;
left: 385px;
bottom: 30px;
display: flex;
flex-direction: column;

}
.logo1{width: 30px;
    border-radius: 100%;
    border: 1px solid black;
    padding: 5px;
    margin-left: 100px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
}

.logo2{width: 30px;
    border-radius: 100%;
    border: 1px solid black;
    padding: 6px;
    padding-top: 12px;
    margin-left: 160px;
    margin-top: -43px;
    display: flex;
    flex-direction: column;
}
.logo3{width: 30px;
    border-radius: 100%;
    border: 1px solid black;
    padding: 6px;
    padding-top: 12px;
    margin-left: 220px;
    margin-top: -44px;
    display: flex;
    flex-direction: column;
}
.line{
    width: 100px;
    border-bottom: 1px solid rgb(107,105,105);
    margin-left: 285px;
    margin-top: -20px;
}

.p1{font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 100px;
    display: flexbox;


}
.menu{
    width: 600px;
    height: 350px;
    background-image:url(photo.png);
    align-items: center;
    border-radius: 30px;
    padding: 8px;
    flex-wrap: wrap;
    margin-top: 90px;
}
.menu-1{
    background-color: white;
    width: 500px;
    height: 60px;
    margin-left: 50px;
    border-radius: 13px;
}
.input-1{
    color: gray;
    margin-top: 20px;
    margin-left: 8px;
    border: none;
    display: flexbox;
}
.b1{
    width: 110px;
    height: 40px;
    background-color: rgb(234, 114, 34);
    border: none;
    border-radius: 6px;
    color: white;
    margin-left: 190px;
    font-family: courier;
    display: flexbox;

}
.card{margin-top: 90px;
    margin-left: 20px;
    width: 450px;
    height: 250px;
    background-color: white;
    border-radius: 70px 20px 70px 20px;
    margin-left: 35%;
    padding: 20px;
 
}
.img-costumer{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 185px;
    bottom:-630px;
    margin-left: 35%;
}
.title2{
    font-size: 25px;

}
.pT2{
    font-size: 16px;
    color: gray;
    text-align: center;

}
.h2T{
text-align: center;
padding-right: 90px;
}
.pcard{
    color: gray;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 30px;
}
.p1card{
    text-align: center;
    font-size: 16px;

}
.p2card{
    color: gray;
    text-align: center;
    font-size: 16px;

}

.card2{margin-top: 90px;
    margin-left: 20px;
    width: 450px;
    height: 250px;
    background-color: white;
    border-radius: 70px 20px 70px 20px;
    margin-left: 83%;
    margin-top: -300px;
    padding: 20px;
    margin-bottom: 100px;
}
.img-costumer2{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 920px;
    bottom:-630px;
    margin-left: 35%;
}
.pcard{
    color: gray;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 30px;
}
.p1card2{
    text-align: center;
    font-size: 16px;

}
.p2card3{
    color: gray;
    text-align: center;
    font-size: 16px;

}

.svg1{
    width: 25px;
    background-color: rgb(234, 114, 34);
    border-radius: 100%;
    margin-left: 100px;
    margin-top: 40px;
    
}
.titlesec{
    font-size: 30px;
    margin-left: 100px;
    margin-top: 150px;

}
.titlesec p{
    text-align: left;
    font-size: 16px;
    color: rgb(107,105,105);
}
.titlesec h2{
    text-align: left;
}
.section1 p{
    color: rgb(107,105,105);
    margin-left: 135px;
    margin-top: -30px;
}
.svg2{
    width: 25px;
    background-color: rgb(234, 114, 34);
    border-radius: 100%;
    margin-left: 100px;
    margin-top: 20px;
    
}
.svg3{
    width: 25px;
    background-color: rgb(234, 114, 34);
    border-radius: 100%;
    margin-left: 100px;
    margin-top: 20px;
    
}
.svg4{
    width: 25px;
    background-color: rgb(234, 114, 34);
    border-radius: 100%;
    margin-left: 100px;
    margin-top: 40px;
    
    
}
.svg5{
    width: 25px;
    background-color: rgb(234, 114, 34);
    border-radius: 100%;
    margin-left: 100px;
    margin-top: -5px;
    
}
.svg6{
    width: 25px;
    background-color: rgb(234, 114, 34);
    border-radius: 100%;
    margin-left: 100px;
    margin-top: -5px;
    
    
}
.section2 p{
    color: rgb(107,105,105);
    margin-left: 135px;
    margin-top: -30px;
    margin-bottom: -100px;
}
.section2{
    margin-left: 300px;
    margin-top: -100px;
    justify-content: space-evenly;

}
.section{margin-bottom: 200px;}
.chef{
    margin-top: -200px;
    width: 400px;
}
.img3{
    direction: rtl;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
.label-card4{  
    width: 150px;
    height: 40px;
    background-color: rgb(234, 114, 34);
    border-radius: 10px 1px 10px 1px;
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    margin-top: -43px;}

.label-card3{
    width: 90px;
    height: 40px;
    background-color: rgb(14, 14, 14);
    border-radius: 10px 1px 10px 1px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: -40px;
}
